{% extends 'base.html.twig' %} {% block title %}Your Profile{% endblock %} {%
block body %}

{{ include("shared/_generation_bar.html.twig", { link: "app_profile" }) }}

{% if pokemonList is not empty %}

<div class="text-center text-3xl mb-6 mt-4 text-gray-600 dark:text-gray-400">
  Current score: {{ pokemonList.count }}
</div>

<div>
  {{ include("profile/_pokemon_list.html.twig", { pokemons: pokemonList }) }}
</div>

{%else%}
<div class="text-center text-xl mb-6 mt-4 text-gray-800 dark:text-gray-600">
  You don't have any Pokemons from this generation
</div>
<div class="text-center text-3xl mb-4 text-gray-600 dark:text-gray-400">
  <a
    href="{{ path('app_after_login', { generation: app.user.generation }) }}"
    class="border rounded-md bg-violet-900 p-2"
    >Go Catch'em all!</a
  >
</div>
{%endif%} {% endblock %}
